@model PS.Models.ViewModels.ViewCustCar
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Car"))
{
    <div>
        @Html.LabelFor(p => p.IEcarsView.Color)
        @Html.TextBoxFor(p => p.IEcarsView.Color, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(p => p.IEcarsView.Make)
        @Html.TextBoxFor(p => p.IEcarsView.Make, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(p => p.IEcarsView.Model)
        @Html.TextBoxFor(p => p.IEcarsView.Model, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(p => p.IEcarsView.MYear)
        @Html.TextBoxFor(p => p.IEcarsView.MYear, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(p => p.IEcarsView.Style)
        @Html.TextBoxFor(p => p.IEcarsView.Style, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(p => p.IEcarsView.Vin)
        @Html.TextBoxFor(p => p.IEcarsView.Vin, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(p => p.IEcarsView.Uid)
        @*@Html.TextBoxFor(p => p.IEcarsView.Uid, new { @class = "form-control" })*@
    </div>
    <div>
        @Html.DisplayFor(q=>q.IEcarsView.Uid)
    </div>
    @*<div>
            @Html.LabelFor(p => p.IEcar.Uid)
            @Html.HiddenFor(p => p.IEcar.Uid,new {@Value Model.IEcust.Id}, new {@class="form-control" })
        </div>*@
    <button type="submit">save</button>




}
