@model IEnumerable<PS.Models.Car>
@*@model PS.Models.Car*@
@{
    ViewBag.Title = "Details";
}
@Html.ActionLink("++click here to add new car", "New")

@if (!Model.Any())
{
    <p>NO car with this id</p>



}

else
{


    <h2> car Details</h2>

    foreach (var item in Model)
    {
        <h3>@item.Color</h3>
        <h3>@item.Make</h3>
        <h4>@item.Model</h4>
        <h5>@item.MYear</h5>
        <h5>@item.Style</h5>
        <h6>@item.Vin</h6>
        <h1>UID  -->@item.Uid</h1>
        <h4>CARID-->@item.CarsId</h4>



        @Html.ActionLink("Delete", "Delete", new { id = item.CarsId })
        @Html.ActionLink("Edit", "Edit", new { id = item.CarsId })

    }

    @Html.ActionLink("Service History", "Details", "ServiceHistory")

    @Html.ActionLink("New Service", "New", "NewService")
}


@*<h3>@Model.Color</h3>
    <h3>@Model.Make</h3>
    <h4>@Model.Model</h4>
    <h5>@Model.MYear</h5>
    <h5>@Model.Style</h5>
    <h6>@Model.Vin</h6>
    <h1>UID  -->@Model.Uid</h1>
    <h4>CARID-->@Model.CarsId</h4>
    @Html.ActionLink("Service History","")
    @Html.ActionLink("+New Service ","")
    @Html.ActionLink("Edit", "edit", new { id=Model.Uid})
    @Html.ActionLink("delete", "delete", new { id=Model.Uid})*@